- @title = @post.title
#show
  .post
    .title= link_to @post.title, url_for(:posts, :show, id: @post)
    .date= time_ago_in_words(@post.created_at || Time.now) + ' ago'
    .body= @post.body
    .details
      .author Posted by #{@post.account.email}
%p= link_to 'View all posts', url_for(:posts, :index)
